body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-container {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

.form-group {
    margin-bottom: 15px;
}

button {
    padding: 10px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-add {
    background-color: #259925;
    color: #ffffff;
}

.button-add:hover {
    background-color: #218721;
}

.button-edit {
    background-color: #eac431; /* Зеленый цвет */
    color: #000000;
}

.button-edit:hover {
    background-color: #d1ad1b;
}

.button-delete {
    background-color: #e41c1c;
    color: #ffffff;
}

.button-delete:hover {
    background-color: #cd1313;
}

.button-show {
    background-color: #3258ea;
    color: #ffffff;
}

.button-show:hover {
    background-color: #2246cf;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    align-items: center;
    padding: 8px;
}

th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.item-header h2 {
    margin: 0;
}

.item-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Адаптивная колоночная сетка */
    gap: 15px;
    margin-bottom: 20px;

}

.item-info-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.item-info-item label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.item-info-item span {
    color: #666;
    font-size: 1.1em;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    margin: 0 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 40px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #e9e9e9;
}

.general-div {
    margin-left: 250px;
    margin-right: 50px;
    padding: 20px;
}

.menu-panel {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    padding: 10px;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-item {
    margin-bottom: 5px;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-decoration: none;
    color: #070707;
    transition: background-color 0.3s ease;
}

/* Стилизация контейнера select */
select {
    appearance: none; /* Убираем стандартные стили браузера */
    -webkit-appearance: none; /* Для Safari и Chrome */
    -moz-appearance: none;  /* Для Firefox */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    color: #333;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    outline: none; /* Убираем обводку при фокусе */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"><path fill="%23333" d="M0 0l5 6 5-6z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* Стилизация при наведении */
select:hover {
    border-color: #999;
}

/* Стилизация при фокусе */
select:focus {
    border-color: #448aff; /* Цвет фокуса */
    box-shadow: 0 0 0 2px rgba(68, 138, 255, 0.2); /* Тень фокуса */
}


/* Стилизация option */
select option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    margin-bottom: 2px;
    transition: background-color 0.2s ease;
}

/* Стилизация option при наведении */
select option:hover {
    background-color: #f0f0f0;
}
