<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java">
<head>
    <title th:text="#{marital_status}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{/header :: header}"></div>
<main>
    <div th:replace="~{/menu :: menu}"></div>
    <div>
        <h2 th:text="#{marital_info}"/>
        <h3 class="form-group" th:if="${maritalStatuses.isEmpty()}" th:text="#{marital_info_absent}"/>
        <table th:if="${!maritalStatuses.isEmpty()}">
            <thead>
            <tr>
                <th th:text="#{marital_status}"/>
                <th th:text="#{registration_date}"/>
                <th th:text="#{document}"/>
                <th colspan="2" th:text="#{action}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="status :${maritalStatuses}">
                <td th:text="${status.status}"/>
                <td th:text="${status.registrationDate}"/>
                <td th:text="${status.document}"/>
                <td>
                    <form th:action="@{/employees/{employeeId}/marital-status/edit/{id}(employeeId = ${status.employeeId}, id=${status.id})}"
                          method="get">
                        <button class="button-edit"
                                th:text="#{edit_button}"/>
                    </form>
                </td>
                <td>
                    <form th:action="@{/employees/{employeeId}/marital-status/delete/{id}(employeeId = ${status.employeeId}, id=${status.id})}"
                          method="post">
                        <button class="button-delete"
                                th:text="#{delete_button}"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <form th:if="${!maritalStatuses.isEmpty()}"
              th:action="@{/employees/{employeeId}/marital-status(employeeId=${employeeId})}"
              method="get">
            <div th:replace="~{/page-panel :: page-panel}"></div>
        </form>
        <div class="footer-buttons-block">
            <form th:action="@{/employees/{employeeId}/marital-status/add(employeeId=${employeeId})}"
                  method="get">
                <button class="footer-button, button-add"
                        th:text="#{update_marital_status}"/>
            </form>
            <form th:action="@{/employees/{id}(id=${employeeId})}"
                  method="get">
                <button class="footer-button"
                        th:text="#{back_to_employee}"/>
            </form>
        </div>
    </div>
</main>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>