<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java">
<head>
    <title th:text="#{error}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{header :: header}"></div>
<main>
    <div class="error-container">
        <div class="error-icon">
            &#9888;
        </div>
        <h1 th:text="#{error_arose}"/>
        <h3 th:text="${message}"/>
        <a th:href="@{/employees}" th:text="#{back_to_employees}"/>
    </div>
</main>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>