<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java">
<head>
    <title th:text="#{add_employee}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{/header :: header}"></div>
<main>
    <div th:replace="~{/menu :: menu}"></div>
    <div class="form-group">
        <h2 th:text="#{filling_employee_form_message}"/>
        <div class="filling-form">
            <form id="save"
                  th:action="@{/employee/add}"
                  th:object="${newEmployee}"
                  method="post">
                <div class="input-wrapper">
                    <fieldset>
                        <legend th:text="#{surname}"/>
                        <input type="text"
                        th:field="*{personData.surname}"
                        th:placeholder="#{surname_placeholder}"
                        required/>
                    </fieldset>
                </div>
                <div class="input-wrapper">
                    <fieldset>
                        <legend th:text="#{name}"/>
                        <input type="text"
                               th:field="*{personData.name}"
                               th:placeholder="#{name_placeholder}"
                               required/>
                    </fieldset>
                </div>
                <div class="input-wrapper">
                    <fieldset>
                        <legend th:text="#{patronymic}"/>
                        <input type="text"
                               th:field="*{personData.patronymic}"
                               th:placeholder="#{patronymic_placeholder}"/>
                    </fieldset>
                </div>
                <div class="input-wrapper">
                    <fieldset>
                        <legend th:text="#{birthday}"/>
                        <input type="date"
                               th:field="*{personData.birthday}"
                               required/>
                    </fieldset>
                </div>
                <div class="input-wrapper">
                    <fieldset>
                        <legend th:text="#{living_city}"/>
                        <input type="text"
                               th:field="*{homeAddress.city}"
                               th:placeholder="#{living_city_placeholder}"
                               required/>
                    </fieldset>
                </div>
                <div class="input-wrapper">
                    <fieldset>
                        <legend th:text="#{living_street}"/>
                        <input type="text"
                               th:field="*{homeAddress.street}"
                               th:placeholder="#{living_street_placeholder}"
                               required/>
                    </fieldset>
                </div>
                <div class="input-wrapper">
                    <fieldset>
                        <legend th:text="#{living_house}"/>
                        <input type="text"
                               th:field="*{homeAddress.house}"
                               th:placeholder="#{living_house_placeholder}"
                               required/>
                    </fieldset>
                </div>
                <div class="input-wrapper">
                    <fieldset>
                        <legend th:text="#{living_apartment}"/>
                        <input type="number"
                               th:field="*{homeAddress.apartment}"
                               th:placeholder="#{living_apartment_placeholder}"/>
                    </fieldset>
                </div>
                <div class="input-wrapper">
                    <fieldset>
                        <legend th:text="#{phone}"/>
                        <input type="text"
                               th:field="*{phone}"
                               th:placeholder="#{phone_placeholder}"/>
                    </fieldset>
                </div>
            </form>
        </div>
        <form class="footer-buttons-block"
              th:action="@{/employees}"
              method="get">
            <button class="footer-button, button-add"
                    form="save"
                    type="submit"
                    th:text="#{save_button}">
            </button>
            <button class="footer-button"
                    th:text="#{back_to_employees}">
            </button>
        </form>
    </div>
</main>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>