<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java">
<head>
    <title th:text="#{employees}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{/header :: header}"></div>
<main>
    <div th:replace="~{/menu :: menu}"></div>
    <div>
        <h2 th:text="#{all_employees}"></h2>
        <div class="filter-container">
            <div class="filter-form">
                <form id="filter"
                      th:action="@{/employees}"
                      th:object="${filterData}"
                      method="get">
                    <input type="hidden" name="page" th:value="${page}"/>
                    <input type="hidden" name="size" th:value="${size}"/>
                    <div class="filter-inputs">
                        <fieldset>
                            <legend th:text="#{surname}"></legend>
                            <input type="text"
                                   th:field="*{surname}"
                                   th:value="${filterData.surname != null ? filterData.surname : ''}"
                                   th:placeholder="#{surname_placeholder}"/>
                        </fieldset>
                        <fieldset>
                            <legend th:text="#{name}"></legend>
                            <input type="text"
                                   th:field="*{name}"
                                   th:value="${filterData.name != null ? filterData.name : ''}"
                                   th:placeholder="#{name_placeholder}"/>
                        </fieldset>
                        <fieldset>
                            <legend th:text="#{patronymic}"></legend>
                            <input type="text"
                                   th:field="*{patronymic}"
                                   th:value="${filterData.patronymic != null ? filterData.patronymic : ''}"
                                   th:placeholder="#{patronymic_placeholder}"/>
                        </fieldset>
                        <fieldset>
                            <legend th:text="#{min_age}"></legend>
                            <input type="number"
                                   th:field="*{age}"
                                   th:value="${filterData.age != null ? filterData.age : ''}"
                                   th:placeholder="#{min_age_placeholder}"/>
                        </fieldset>
                        <fieldset>
                            <legend>Отдел</legend>
                            <select th:field="*{departmentId}">
                                <option th:value="${null}"
                                        th:text="#{select_department}"
                                        selected/>
                                <option th:each="department : ${departments}"
                                        th:value="${department.id}"
                                        th:text="${department.name}"
                                        th:selected="${filterData.departmentId != null && filterData.departmentId == department.id}"/>

                            </select>
                        </fieldset>
                    </div>
                </form>
                <div class="apply-filter-buttons">
                    <button class="apply-filter-button"
                            type="submit" form="filter"
                            th:text="#{apply_button}"></button>
                    <form id="clear" th:action="@{/employees/clear-filter}" method="post">
                        <input type="hidden"
                               name="isFired"
                               th:value="${isFired}"/>
                        <input type="hidden" name="page" th:value="${page}"/>
                        <input type="hidden" name="size" th:value="${size}"/>
                        <button class="clear-filter-button" type="submit" form="clear"
                                th:text="#{clear_button}"></button>
                    </form>
                </div>
            </div>
        </div>

        <table>
            <thead>
            <tr>
                <th th:text="#{short_name}"/>
                <th th:text="#{birthday}"/>
                <th th:text="#{position}"/>
                <th th:if="${!isFired}" colspan="2" th:text="#{action}"/>
                <th th:if="${isFired}" colspan="3" th:text="#{action}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.personData.surname + ' ' + employee.personData.name + ' ' + (employee.personData.patronymic != null ? ' ' + employee.personData.patronymic : '')}"/>
                <td th:text="${employee.personData.birthday}"></td>
                <td th:text="${employee.positionName != null ? employee.positionName : ''}"></td>
                <td>
                    <form th:action="@{/employees/{id}(id=${employee.id})}"
                          method="get">
                        <button class="button-show"
                                th:text="#{show_button}"></button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/employees/{id}/delete(id=${employee.id})}"
                          method="post">
                        <button class="button-delete"
                                th:text="#{delete_button}"></button>
                    </form>
                </td>
                <td th:if="${isFired}">
                    <form th:action="@{employees/{id}/return(id=${employee.id})}"
                          method="post">
                        <button class="button-restore"
                                th:text="#{return}"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/employees}"
              method="get"
        th:object="${filterData}">
            <input type="hidden" name="isFired" th:value="${isFired}"/>
            <input type="hidden" th:if="${filterData.surname != null}" th:field="*{surname}" th:value="${filterData.surname}"/>
            <input type="hidden" th:if="${filterData.name != null}" th:field="*{name}" th:value="${filterData.name}"/>
            <input type="hidden" th:if="${filterData.patronymic != null}" th:field="*{patronymic}"
                   th:value="${filterData.patronymic}"/>
            <input type="hidden" th:if="${filterData.age != null}" th:field="*{age}" th:value="${filterData.age}"/>
            <input type="hidden" th:if="${filterData.departmentId != null}" th:field="*{departmentId}"
                   th:value="${filterData.departmentId}"/>
            <div th:replace="~{/page-panel :: page-panel}"></div>
        </form>
        <div th:if="${isFired == null || !isFired}">
            <form name="add_employee" method="get" th:action="@{/employees/add}">
                <button class="button-add" th:text="#{add_employee}"></button>
            </form>
        </div>
    </div>
</main>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>