<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java">
<head>
    <title th:text="#{users}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{header :: header}"></div>
<main>
    <div th:replace="~{menu :: menu}"></div>
    <div>
        <h2 th:text="#{all_users}"/>
        <table>
            <thead>
            <tr>
                <th th:text="#{user_name}"/>
                <th th:text="#{privileges}"/>
                <th colspan="2" th:text="#{action}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"/>
                <td>
                    <div th:each="role : ${user.authorities}">
                        <span class="role-span"
                              th:text="${role}"/>
                    </div>
                </td>
                <td>
                    <form th:action="@{/users/edit/{id}(id=${user.id})}"
                          method="get">
                        <button class="button-edit"
                                th:text="#{edit_button}"/>
                    </form>
                </td>
                <td>
                    <form th:action="@{/users/delete/{id}(id=${user.id})}"
                          method="post">
                        <button class="button-delete"
                                th:text="#{delete_button}"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/users}"
              method="get"
              th:object="${pageFilter}">
            <div th:replace="~{page-panel :: page-panel}"></div>
        </form>
        <form class="footer-buttons-block"
              th:action="@{/users/create}"
              method="get">
            <button class="footer-button, button-add"
                    th:text="#{create_user}"/>
        </form>
    </div>
</main>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>