<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <title th:text="#{career}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{/header :: header}"></div>
<main>
    <div th:replace="~{/menu :: menu}"></div>
    <div>
        <h2 th:text="#{career_header}"/>
        <h3 class="form-group" th:if="${career.isEmpty()}" th:text="#{career_absent}"/>
        <table th:if="${!career.isEmpty()}">
            <thead>
            <tr>
                <th th:text="#{appointment_order}"/>
                <th th:text="#{from_what_date}"/>
                <th th:text="#{on_what_date}"/>
                <th th:text="#{position}"/>
                <th sec:authorize="hasAuthority('ADMIN')" colspan="2" th:text="#{action}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="careerStep : ${career}">
                <td th:text="${careerStep.orderAppointment}"/>
                <td th:text="${careerStep.dateOfAppointment}"/>
                <td th:text="${careerStep.dateOfLiberation != null ? careerStep.dateOfLiberation : ''}"/> <!-- TODO: Сделать today -->
                <td th:text="${careerStep.positionName} + ' ' + ${careerStep.departmentGenitiveCaseName}"/>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <form th:action="@{/employees/{employeeId}/career/edit/{id}(employeeId=${employeeId}, id=${careerStep.id})}"
                    method="get">
                        <button class="button-edit"
                                th:text="#{edit_button}"/>
                    </form>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <form th:action="@{/employees/{employeeId}/career/delete/{id}(employeeId=${employeeId}, id=${careerStep.id})}"
                          method="post">
                        <button class="button-delete"
                                th:text="#{delete_button}"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <form th:if="${!career.isEmpty()}"
              th:action="@{/employees/{id}/career(id=${employeeId})}"
              th:object="${pageFilter}"
              method="get">
            <div th:replace="~{/page-panel :: page-panel}"></div>
        </form>
        <form class="footer-buttons-block"
        th:action="@{/employees/{id}(id=${employeeId})}"
        method="get">
            <button class="footer-button"
                    th:text="#{back_to_employee}"/>
        </form>
    </div>
</main>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>